/*!
 * Material Design for Adminer, version 1.1.4
 * https://github.com/arcs-/Adminer-Material-Theme
 */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #393e46;
  font-family: "Noto Sans", sans-serif;
  color: #eee;
  text-rendering: optimizeLegibility !important;
}

* {
  outline-color: #77abb7;
}

::selection {
  background: #98c0c9;
  color: #fff;
}

::-moz-selection {
  background: #98c0c9;
  color: #fff;
}

::-webkit-scrollbar {
  width: 9px;
  height: 12px;
  background-color: #CCC;
}

::-webkit-scrollbar-corner {
  background-color: #CCC;
}

::-webkit-scrollbar-thumb {
  background-color: #222831;
}

::-webkit-scrollbar-corner {
  background-color: #222831;
  width: 8px;
  height: 8px;
}

.scrollable {
  overflow-x: visible;
}

/*    Menu    */
/*------------*/
#lang {
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: 3;
  padding: .8em 1em;
  width: 245px;
  border-top: 1px solid #ccc;
  background: #393e46;
}

#lang select {
  width: 66%;
}

#menu {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #222831;
  box-shadow: 0 85px 5px 0 rgba(0, 0, 0, 0.14), 0 85px 10px 0 rgba(0, 0, 0, 0.12), 0 85px 4px -1px rgba(0, 0, 0, 0.2);
  flex-flow: column;
}

#menu h1 {
  position: fixed;
  right: 54px;
  border-bottom: none;
  font-size: 12px;
  background: transparent;
  padding: 4px 0;
}

#menu select {
  width: 86%;
}

#menu #logins {
  padding: 10px 14px 0;
  height: 100%;
}

#menu #logins:before {
  content: 'Saved Logins';
  display: block;
  font-size: 1.2em;
  margin: 40px 0 10px;
}

#menu #logins a {
  display: inline-block;
  margin: 4px 0;
  padding: 6px 12px;
  height: 36px;
  width: 86%;
  border-radius: 2px;
  color: #fff;
  background: #77abb7;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
  transition: all .2s;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
}

#menu #logins a:hover {
  background: #457783;
}

#menu.active {
  background: #77abb7 !important;
  color: #fff !important;
  font-weight: auto;
}

#menu .links a {
  display: inline-block;
  margin: 4px 2px;
  padding: 5px;
  width: 42%;
  border-radius: 2px;
  background: #393e46;
  color: #77abb7;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  transition: all .2s;
}

#menu .links a:hover {
  background: #77abb7;
  color: #fff;
  text-decoration: none;
  font-weight: auto;
}

a #h1 {
  color: #AFB3B5;
}

.version {
  color: #AFB3B5;
}

#tables {
  overflow-x: hidden !important;
  margin-bottom: 47px;
  padding: 9px 12px 0 6px;
  flex: 1;
}

#tables .select:hover {
  background: #77abb7;
  color: #fff;
  text-decoration: none;
  font-weight: auto;
  color: #222831;
}

#tables a {
  display: inline-block;
  overflow: hidden;
  padding: 6px 0 6px 8px;
  width: 175px;
  border-radius: 2px;
  text-overflow: ellipsis;
  transition: all .2s;
  color: #eee;
  background: #222831;
}

#tables a:hover {
  background: #222831;
  color: #77abb7;
  text-decoration: none;
}

#tables a.select {
  position: relative;
  float: right;
  padding: 5px;
  width: auto;
  border-radius: 2px;
  background: #393e46;
  color: #77abb7;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
}

/*    Nav     */
/*------------*/
#content {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin: 83px 0 0 19em;
  padding: 17px 27px 100px;
  min-width: 600px;
  width: 100%;
}

#content h2 {
  position: fixed;
  top: 0;
  z-index: 1;
  margin-left: -28px;
  padding-top: 0;
  padding-left: 30px;
  width: 100%;
  height: 65px;
  background: #222831;
  color: #AFB3B5;
  line-height: 104px;
}

#breadcrumb {
  position: fixed;
  z-index: 2;
  padding-top: 10px;
  padding-left: 20px;
  background: #222831;
  color: #222831;
}

#breadcrumb a {
  color: #77abb7;
  font-size: 13px;
  line-height: 18px;
  transition: all .2s;
}

#breadcrumb a:hover {
  color: #457783;
  text-decoration: none;
}

#logout {
  position: fixed;
  top: 21px;
  right: 50px;
  z-index: 2;
  margin: 4px 2px;
  padding: 5px;
  min-width: 88px;
  outline: none;
  border: none;
  border-radius: 2px;
  background: #77abb7;
  box-shadow: 0 1px 4px rgba(48, 48, 48, 0.41), 0 2px 3px rgba(0, 0, 0, 0.26);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  transition: all .2s;
}

#logout:hover {
  background: #457783;
}

/*    Element    */
/*---------------*/
select {
  margin: 0;
  padding: 3px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  color: #666;
  background: #fff;
  cursor: pointer;
}

a,
a:link {
  color: #77abb7;
  transition: all .2s;
}

a:hover,
a:link:hover {
  color: #457783;
  text-decoration: none;
}

input:not([type]),
input[type=number],
input[type=password],
input[type=search],
input[type=text] {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  font-size: 15px;
}

input[type=search]:first-child {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

input[type=submit] {
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  border: none;
  border-radius: 2px;
  background: #77abb7;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #222831;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: all .2s;
}

input[type=submit]:hover {
  background: #457783;
}

input[type=button][disabled],
input[type=submit][disabled] {
  background: #77abb7 !important;
  cursor: no-drop;
}

div input[name=delete],
div input[name=drop],
div input[name=truncate],
input[value=Kill] {
  background: repeating-linear-gradient(-55deg, #77abb7, #77abb7 5px, #98c0c9 5px, #98c0c9 10px);
  transition: all .2s;
}

div input[name=delete]:hover,
div input[name=drop]:hover,
div input[name=truncate]:hover,
input[value=Kill]:hover {
  background: repeating-linear-gradient(-55deg, #457783, #457783 5px, #77abb7 5px, #77abb7 10px);
}

input[type=checkbox] {
  display: inline-block;
  padding-left: 25px;
  height: 20px;
  outline: 0;
  background-image: url("src/check.svg");
  background-position: 0 0;
  background-size: 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type=checkbox]:checked {
  background-position: 0 -20px;
}

input[type=radio] {
  display: inline-block;
  padding-left: 25px;
  height: 20px;
  outline: 0;
  background-image: url("src/radio.svg");
  background-position: 0 0;
  background-size: 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type=radio]:checked {
  background-position: 0 -21px;
}

input[type=number] {
  padding: 8px;
}

#help {
  display: none;
}

.sqlarea.jush-sql.jush {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

code.jush-sql {
  background: #393e46;
}

code.jush-sql .jush a {
  color: #32cd7b;
}

code.jush-sql .jush .jush-sql_code {
  color: #eee;
}

code.jush-sql .jush .jush-custom,
code.jush-sql .jush .jush-op {
  color: #84e1b0;
}

.js .column {
  left: -50px;
  margin: -6px 0 0;
  padding: 5px 0 7px 3px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  background: #222831;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.js .column a {
  padding: 1px 8px 3px 5px;
  margin-right: 3px;
  border-radius: 2px;
  color: #77abb7;
  transition: all .2s;
}

.js .column a:hover {
  color: #fff;
  background: #77abb7;
}

/*    Table      */
/*---------------*/
table {
  margin-top: 20px;
  min-width: 800px;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 13px;
  order: 4;
}

form table {
  width: 100%;
}

thead td,
thead th {
  background: #393e46;
  position: sticky;
  top: 0;
  z-index: 2;
  border: none;
}

thead td:before,
thead th:before {
  content: '';
  position: absolute;
  background: #393e46;
  top: -20px;
  left: -10px;
  width: 120%;
  height: 20px;
}

thead td:after,
thead th:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #eee;
}

thead th {
  padding: 0 18px;
  text-align: left;
}

th {
  box-sizing: border-box;
  padding: 5px 18px !important;
  width: 20%;
  border: 1px solid #eee;
  background: #393e46;
  font-weight: normal;
  font-size: 14px;
}

td {
  box-sizing: border-box;
  padding: 2px 10px 0;
  height: 45px;
  border: 1px solid #eee;
  background: #393e46;
  color: #eee;
}

tbody tr:hover td,
tbody tr:hover th,
.odd:hover td,
.odd:hover th {
  background: #222831;
}

tbody tr td,
tbody tr th,
.odd td,
.odd th {
  background: #393e46;
}

td a,
td a:visited,
th a,
th a:visited {
  color: #77abb7;
  font-weight: 700;
}

.js .checkable .checked td,
.js .checkable .checked th {
  background: #222831;
}

#noindex,
sup {
  display: none;
}

.pages {
  position: absolute;
  padding: 10px 20px 0;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 15px;
}

.pages a:not(:first-child) {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #77abb7;
  border-radius: 2px;
  color: #222831;
  text-align: center;
}

.pages a:not(:first-child):hover {
  background: #77abb7;
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: #000;
  opacity: .8;
  -webkit-filter: contrast(125%) invert(1);
  filter: contrast(125%) invert(1);
  transition: all .2s;
}

.icon:hover {
  background: #885448;
}

.footer {
  background: none;
  border: none;
  border-color: transparent;
  position: relative;
}

.footer > div {
  background: transparent;
}

/*    content      */
/*-----------------*/
#content form {
  display: table;
  order: 1;
}

#content table:nth-of-type(1) {
  order: 1;
  margin: 38px 0;
}

#content .links,
#content h3,
#content h3 + .error {
  margin: 15px 0 0;
  order: 4;
}

#content .links:nth-of-type(2) {
  margin-top: 30px;
  order: 1;
}

#content .links a {
  display: inline-block;
  margin: 4px;
  padding: 6px 12px;
  min-width: 88px;
  border-radius: 2px;
  background: #222831;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.41), 0 2px 3px rgba(0, 0, 0, 0.26);
  color: #77abb7;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  transition: all .2s;
}

#content .links a:hover {
  background: #77abb7;
  color: #fff;
  text-decoration: none;
}

#content .links .active {
  background: #77abb7;
  color: #fff;
  cursor: default;
}

#content form > fieldset:first-child {
  background-color: transparent;
  border: none;
  box-shadow: none;
  float: right;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  margin-top: -40px;
}

#content form > fieldset:first-child legend {
  display: none;
}

#content #form fieldset:nth-of-type(1) {
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 11px;
  min-height: 57px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #393e46;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: .5em .8em;
  margin: .8em .5em 0 0;
  float: initial;
}

#content #form fieldset:nth-of-type(1) legend {
  display: block;
}

#content fieldset:nth-of-type(2).jsonly {
  float: right;
  margin-top: -30px;
  margin-right: 8px;
  border: none;
}

#content fieldset:nth-of-type(2).jsonly legend {
  display: none;
}

#content fieldset:first-child #fieldset-import,
#content fieldset:nth-of-type(1),
#content fieldset:nth-of-type(2):not(.jsonly),
#content fieldset:nth-of-type(3),
#content fieldset:nth-of-type(4),
#content fieldset:nth-of-type(5) {
  margin-bottom: 10px;
  padding-bottom: 11px;
  min-height: 57px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #393e46;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#content fieldset:nth-of-type(6) {
  border: none;
}

#content fieldset:nth-of-type(6) legend {
  visibility: hidden;
}

#content legend a {
  padding: 5px;
  color: #77abb7;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  transition: all .2s;
}

#content legend a:hover {
  color: #457783;
  text-decoration: none;
}

#content fieldset:first-child #fieldset-import {
  margin-top: 36px;
  padding: 13px 10px 0 9px;
  margin-left: -12px;
}

#content fieldset:first-child #fieldset-import:before {
  content: 'Import';
  position: absolute;
  top: 8px;
  left: 20px;
  background: #fff;
  padding: 0 7px;
}

#content input[name=copy],
#content input[name=move] {
  float: right;
  margin-right: -20px;
  margin-left: 25px;
}

#content input[name=copy],
#content input[name=move] {
  float: right;
  margin-right: -20px;
  margin-left: 25px;
}

#content select {
  margin-bottom: 2px;
  padding: 8px;
}
